<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ronniesha Tirumalasetty Home Page</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='cards.css') }}"
  /> <link
  rel="stylesheet"
  href="{{ url_for('static', filename='style.css') }}"
/>
  </head>
  <body>


     
      <div class="Navigation">
        <ul class="nav-ul">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('projects')}}">Projects</a></li>
      </div>

      <div class="WebpageHeading">   
        <h1>Projects</h1>  </div>
        <!-- Gallery -->
        <div class="ag-format-container">
            <div class="ag-courses_box">
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
                            <div class="ag-courses-item_title">
                            Capstone Project
                  </div>
                </a>
              </div>
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Reseawefadlskf;alsdkf;ladksf;lkrch
                  </div>
                </a>
              </div>
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Reseawefadlskf;alsdkf;ladksf;lkrch
                  </div>
                </a>
              </div>
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Reseawefadlskf;alsdkf;ladksf;lkrch
                  </div>
                </a>
              </div>
  </body>
</html>
